<% provide :title, " | edit" %>

<div class="row">
  <div class="renew_info panel panel-default">
    <%= form_for current_user do |f| %>
      <h2>登録情報</h2>
      <div class="form-group">
        <h3>プロフィール画像を選択</h3>
        <div class="renew col-lg-6">
        <%= f.file_field :avatar, class: 'form-control floating-label', placeholder: '画像アップロード' %>
        </div>
        <h3>ニックネームを入力</h3>
        <div class="renew col-lg-6">
          <%= f.text_field :nickname, placeholder: '', class: 'form-control', maxlength: 15 %>
        </div>
        <h3>何か一言</h3>
        <div class="renew col-lg-6">
          <%= f.text_field :introduce, placeholder: '', class: 'form-control', maxlength: 100 %>
        </div>
      </div>
      <div class="btn_renew form-group">
        <%= f.submit "更新", :class => 'btn btn-primary withripple' %>
      </div>
    <% end %>
  </div>
</div>